In [1]:
#Import needed libraries
import pandas as pd
import numpy as np

In [21]:
#Define locations of datafiles using glob 
education_file = pd.read_excel('resources/education/nces_high_school_grads.xlsx')
education_file.head()

,"Table 219.20. Public high school graduates, by region, state, and jurisdiction: Selected years, 1980-81 through 2026-27",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,"Region, state, and jurisdiction",Actual data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1980-81,1989-90,NaN,1999-2000,2007-08,NaN,2008-09,NaN,2009-10,...,2018-19,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,2025-26,2026-27,"Percent\nchange,\n2012-13 to \n2026-27"
2,1,2,3,NaN,4,5,NaN,6,NaN,7,...,16,17,18,19,20,21,22,23,24,25
3,United States .........,2725285,2320337,\1\,2553844,3001337,NaN,3039015,\1\,3128022,...,3299910,3265550,3287230,3309540,3316280,3386980,3443430,3424140,3327500,4.99319
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
education_file.columns

Index(['Table 219.20. Public high school graduates, by region, state, and jurisdiction: Selected years, 1980-81 through 2026-27',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27'],
      dtype='object')

In [23]:
new_header = education_file.iloc[1]
education_file = education_file[3:] 
education_file.columns = new_header 
ed_df = education_file
ed_df.head()

1,nan,1980-81,1989-90,nan,1999-2000,2007-08,nan,2008-09,nan,2009-10,...,2018-19,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,2025-26,2026-27,"Percent change, 2012-13 to 2026-27"
3,United States .........,2725285,2320337,\1\,2553844,3001337,NaN,3039015,\1\,3128022,...,3299910,3265550,3287230,3309540,3316280,3386980,3443430,3424140,3327500,4.99319
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Northeast .......................,593727,446045,NaN,453814,552289,NaN,552973,NaN,556400,...,542370,535360,539600,538460,533830,539470,547590,542430,524270,-5.57203
7,Midwest .......................,784071,616700,NaN,648020,721220,NaN,717536,NaN,726844,...,715500,703240,703940,714180,705660,719350,727720,717890,693320,-2.85009

In [25]:
ed_target_yrs = ed_df.iloc[:,[0,5,7,9,10,11,12,13,14,15,16,17,18]].reset_index(drop=True)
ed_target_yrs.head()

1,nan,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19
0,United States .........,3001337,3039015,3128022,3144100,3149185,3169257,3168450,3187000,3225160,3253730,3297050,3299910
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Northeast .......................,552289,552973,556400,556611,554705,555202,546910,543080,548200,543580,547690,542370
4,Midwest .......................,721220,717536,726844,718779,716072,713662,705550,708240,704100,708920,713060,715500

In [26]:
ed_target_yrs.rename(columns={ed_target_yrs.columns[0]:"Area"},inplace=True)
ed_target_yrs.head()

1,Area,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19
0,United States .........,3001337,3039015,3128022,3144100,3149185,3169257,3168450,3187000,3225160,3253730,3297050,3299910
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Northeast .......................,552289,552973,556400,556611,554705,555202,546910,543080,548200,543580,547690,542370
4,Midwest .......................,721220,717536,726844,718779,716072,713662,705550,708240,704100,708920,713060,715500

In [27]:
# Drop rows where "Area" column is null
ed_drop = ed_target_yrs[pd.notnull(ed_target_yrs["Area"])].reset_index(drop=True)
ed_drop.head()

1,Area,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19
0,United States .........,3001337,3039015,3128022,3144100,3149185,3169257,3168450,3187000,3225160,3253730,3297050,3299910
1,Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Northeast .......................,552289,552973,556400,556611,554705,555202,546910,543080,548200,543580,547690,542370
3,Midwest .......................,721220,717536,726844,718779,716072,713662,705550,708240,704100,708920,713060,715500
4,South .......................,1031773,1068270,1104770,1119414,1121400,1138965,1145570,1162950,1192410,1217720,1247340,1255590

In [32]:
ed_areas= ed_drop.loc[0:57].reset_index(drop=True)
ed_areas

1,Area,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19
0,United States .........,3001337,3039015,3128022,3144100,3149185,3169257,3168450,3187000,3225160,3253730,3297050,3299910
1,Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Northeast .......................,552289,552973,556400,556611,554705,555202,546910,543080,548200,543580,547690,542370
3,Midwest .......................,721220,717536,726844,718779,716072,713662,705550,708240,704100,708920,713060,715500
4,South .......................,1031773,1068270,1104770,1119414,1121400,1138965,1145570,1162950,1192410,1217720,1247340,1255590
5,West .......................,696055,700236,740008,749296,757008,761428,770420,772720,780450,783510,788960,786440
6,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alabama ..................,41346,42082,43166,46035,45394,44233,44540,45420,45910,45490,45100,44400
8,Alaska ...................,7855,8008,8245,8064,7989,7860,7720,7860,7690,7930,7940,7880
9,Arizona ..................,61667,62374,61145,64472,63208,62208,66700,67200,67290,68190,66760,67240
10,Arkansas .................,28725,28057,28276,28205,28419,28928,29610,30350,30610,30960,30970,31010
11,California ...............,374561,372310,404987,410467,418664,422125,424080,422830,424430,422200,426140,420520
12,Colorado .................,46082,47459,49321,50122,50087,50968,51310,51450,53470,54630,56300,57330
13,Connecticut ..............,38419,34968,34495,38854,38681,38722,37860,37160,36660,36970,36440,36090
14,Delaware .................,7388,7839,8133,8043,8247,8070,8240,8390,8360,8540,8780,8690
15,District of Columbia\3\ ..,3352,3517,3602,3477,3860,3961,3880,3990,3950,3690,3820,3930
16,Florida ..................,149046,153461,156130,155493,151964,158029,158440,163740,165090,170990,173290,176060
17,Georgia ..................,83505,88003,91561,92338,90582,92416,94380,97420,99770,102660,104820,106090
18,Hawaii ...................,11613,11508,10998,10716,11360,10790,11050,10760,10920,10930,11060,10580
19,Idaho ....................,16567,16807,17793,17525,17568,17198,19120,18050,18180,18670,18940,19340
20,Illinois .................,135143,131670,139035,134956,139575,139228,137640,140520,136820,137340,138320,140550
21,Indiana ..................,61901,63663,64551,66133,65667,66595,67560,66750,67190,67620,68200,69730
22,Iowa .....................,34573,33926,34462,33853,33230,32548,32590,32450,32890,33160,33590,33200
23,Kansas ...................,30737,30368,31642,31370,31898,31922,32150,31900,32950,33110,33610,33270
24,Kentucky .................,39339,41851,42664,43031,42642,42888,42400,42530,43850,43510,44380,44830
25,Louisiana ................,34401,35622,36573,35844,36675,37508,38180,37720,39080,39610,42120,40330
26,Maine ....................,14350,14093,14069,13653,13473,13170,12730,12560,12750,12410,12340,12160
27,Maryland .................,59171,58304,59078,58745,58811,58896,58120,57650,57560,57130,58670,58010
28,Massachusetts ............,65197,65258,64462,64724,65157,66360,65200,65790,66980,66600,66880,66840
29,Michigan .................,115183,112742,110682,106017,105446,104210,102520,102020,100960,101010,101490,100500
30,Minnesota ................,60409,59729,59667,59357,57501,58255,56370,56800,56700,57420,57950,59100
31,Mississippi ..............,24795,24505,25478,27321,26158,26502,26650,26260,27140,27510,28230,27360
32,Missouri .................,61717,62969,63994,62994,61313,61407,60900,60590,61480,61060,61250,60670
33,Montana ..................,10396,10077,10075,9732,9750,9369,9470,9390,9420,9550,9300,9440
34,Nebraska .................,20035,19501,19370,20331,20464,20442,20580,20650,20960,21420,22150,22400
35,Nevada ...................,18815,19904,20956,21182,21891,23038,22720,23040,22910,23390,23720,24200
36,New Hampshire ............,14982,14757,15034,14495,14426,14262,13790,13520,13670,13490,13340,13090
37,New Jersey ...............,94994,95085,96225,95186,93819,96490,95220,95250,97300,96150,96510,96190
38,New Mexico ...............,18264,17931,18595,19352,20315,19232,18590,19530,19640,19890,19520,19800
39,New York .................,176310,180917,183826,182759,180806,180351,178810,179110,181550,182620,186250,183100
40,North Carolina ...........,83307,86712,88704,89892,93977,94339,96210,97020,101420,103800,108230,109450
41,North Dakota .............,6999,7232,7155,7156,6942,6900,6960,7040,7070,7140,7080,7330
42,Ohio .....................,120758,122203,123437,124229,123135,122491,119520,120940,118870,120410,120010,119850
43,Oklahoma .................,37630,37219,38503,37744,37305,37033,37260,38420,39400,40280,40810,40700
44,Oregon ...................,34949,35138,34671,34723,34261,33899,34440,34800,35240,35180,35100,35090
45,Pennsylvania .............,130298,130658,131182,130284,131733,129777,127200,123560,122970,120030,120760,119150
46,Rhode Island .............,10347,10028,9908,9724,9751,9579,9730,9900,10160,9250,9350,9960
47,South Carolina ...........,35303,39114,40438,40708,41442,42246,41720,42650,44190,45110,46180,46340
48,South Dakota .............,8582,8123,8162,8248,8196,8239,7960,8140,7840,8130,8180,8090
49,Tennessee ................,57486,60368,62408,61862,62454,61323,60970,62010,62800,63470,63720,63590
50,Texas ....................,252121,264275,280894,290470,292531,301390,304360,309280,320840,331390,341620,348740
51,Utah .....................,28167,30463,31481,30888,31157,33186,33400,34070,35540,36780,37680,38220
52,Vermont ..................,7392,7209,7199,6932,6859,6491,6360,6240,6170,6080,5810,5790
53,Virginia .................,77369,79651,81511,82895,83336,83279,83100,82680,84580,85770,88470,88100
54,Washington ...............,61625,62764,66046,66453,65205,66066,66240,68200,69990,70430,70640,70930
55,West Virginia ............,17489,17690,17651,17311,17603,17924,17510,17460,17870,17830,18140,17970
56,Wisconsin ................,65183,65410,64687,64135,62705,61425,60810,60460,60380,61100,61230,60820
57,Wyoming ..................,5494,5493,5695,5600,5553,5489,5590,5550,5740,5750,5870,5870

In [33]:
ed_areas["Area"] = ed_areas["Area"].str.rstrip(".")
ed_cleaned = ed_areas.replace(ed_areas.iloc[[15],[0]], "District of Columbia")
ed_cleaned

1,Area,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19
0,United States,3001337.0,3039015.0,3128022.0,3144100.0,3149185.0,3169257.0,3168450.0,3187000.0,3225160.0,3253730.0,3297050.0,3299910.0
1,Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Northeast,552289.0,552973.0,556400.0,556611.0,554705.0,555202.0,546910.0,543080.0,548200.0,543580.0,547690.0,542370.0
3,Midwest,721220.0,717536.0,726844.0,718779.0,716072.0,713662.0,705550.0,708240.0,704100.0,708920.0,713060.0,715500.0
4,South,1031773.0,1068270.0,1104770.0,1119414.0,1121400.0,1138965.0,1145570.0,1162950.0,1192410.0,1217720.0,1247340.0,1255590.0
5,West,696055.0,700236.0,740008.0,749296.0,757008.0,761428.0,770420.0,772720.0,780450.0,783510.0,788960.0,786440.0
6,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alabama,41346.0,42082.0,43166.0,46035.0,45394.0,44233.0,44540.0,45420.0,45910.0,45490.0,45100.0,44400.0
8,Alaska,7855.0,8008.0,8245.0,8064.0,7989.0,7860.0,7720.0,7860.0,7690.0,7930.0,7940.0,7880.0
9,Arizona,61667.0,62374.0,61145.0,64472.0,63208.0,62208.0,66700.0,67200.0,67290.0,68190.0,66760.0,67240.0
10,Arkansas,28725.0,28057.0,28276.0,28205.0,28419.0,28928.0,29610.0,30350.0,30610.0,30960.0,30970.0,31010.0
11,California,374561.0,372310.0,404987.0,410467.0,418664.0,422125.0,424080.0,422830.0,424430.0,422200.0,426140.0,420520.0
12,Colorado,46082.0,47459.0,49321.0,50122.0,50087.0,50968.0,51310.0,51450.0,53470.0,54630.0,56300.0,57330.0
13,Connecticut,38419.0,34968.0,34495.0,38854.0,38681.0,38722.0,37860.0,37160.0,36660.0,36970.0,36440.0,36090.0
14,Delaware,7388.0,7839.0,8133.0,8043.0,8247.0,8070.0,8240.0,8390.0,8360.0,8540.0,8780.0,8690.0
15,District of Columbia,3352.0,3517.0,3602.0,3477.0,3860.0,3961.0,3880.0,3990.0,3950.0,3690.0,3820.0,3930.0
16,Florida,149046.0,153461.0,156130.0,155493.0,151964.0,158029.0,158440.0,163740.0,165090.0,170990.0,173290.0,176060.0
17,Georgia,83505.0,88003.0,91561.0,92338.0,90582.0,92416.0,94380.0,97420.0,99770.0,102660.0,104820.0,106090.0
18,Hawaii,11613.0,11508.0,10998.0,10716.0,11360.0,10790.0,11050.0,10760.0,10920.0,10930.0,11060.0,10580.0
19,Idaho,16567.0,16807.0,17793.0,17525.0,17568.0,17198.0,19120.0,18050.0,18180.0,18670.0,18940.0,19340.0
20,Illinois,135143.0,131670.0,139035.0,134956.0,139575.0,139228.0,137640.0,140520.0,136820.0,137340.0,138320.0,140550.0
21,Indiana,61901.0,63663.0,64551.0,66133.0,65667.0,66595.0,67560.0,66750.0,67190.0,67620.0,68200.0,69730.0
22,Iowa,34573.0,33926.0,34462.0,33853.0,33230.0,32548.0,32590.0,32450.0,32890.0,33160.0,33590.0,33200.0
23,Kansas,30737.0,30368.0,31642.0,31370.0,31898.0,31922.0,32150.0,31900.0,32950.0,33110.0,33610.0,33270.0
24,Kentucky,39339.0,41851.0,42664.0,43031.0,42642.0,42888.0,42400.0,42530.0,43850.0,43510.0,44380.0,44830.0
25,Louisiana,34401.0,35622.0,36573.0,35844.0,36675.0,37508.0,38180.0,37720.0,39080.0,39610.0,42120.0,40330.0
26,Maine,14350.0,14093.0,14069.0,13653.0,13473.0,13170.0,12730.0,12560.0,12750.0,12410.0,12340.0,12160.0
27,Maryland,59171.0,58304.0,59078.0,58745.0,58811.0,58896.0,58120.0,57650.0,57560.0,57130.0,58670.0,58010.0
28,Massachusetts,65197.0,65258.0,64462.0,64724.0,65157.0,66360.0,65200.0,65790.0,66980.0,66600.0,66880.0,66840.0
29,Michigan,115183.0,112742.0,110682.0,106017.0,105446.0,104210.0,102520.0,102020.0,100960.0,101010.0,101490.0,100500.0
30,Minnesota,60409.0,59729.0,59667.0,59357.0,57501.0,58255.0,56370.0,56800.0,56700.0,57420.0,57950.0,59100.0
31,Mississippi,24795.0,24505.0,25478.0,27321.0,26158.0,26502.0,26650.0,26260.0,27140.0,27510.0,28230.0,27360.0
32,Missouri,61717.0,62969.0,63994.0,62994.0,61313.0,61407.0,60900.0,60590.0,61480.0,61060.0,61250.0,60670.0
33,Montana,10396.0,10077.0,10075.0,9732.0,9750.0,9369.0,9470.0,9390.0,9420.0,9550.0,9300.0,9440.0
34,Nebraska,20035.0,19501.0,19370.0,20331.0,20464.0,20442.0,20580.0,20650.0,20960.0,21420.0,22150.0,22400.0
35,Nevada,18815.0,19904.0,20956.0,21182.0,21891.0,23038.0,22720.0,23040.0,22910.0,23390.0,23720.0,24200.0
36,New Hampshire,14982.0,14757.0,15034.0,14495.0,14426.0,14262.0,13790.0,13520.0,13670.0,13490.0,13340.0,13090.0
37,New Jersey,94994.0,95085.0,96225.0,95186.0,93819.0,96490.0,95220.0,95250.0,97300.0,96150.0,96510.0,96190.0
38,New Mexico,18264.0,17931.0,18595.0,19352.0,20315.0,19232.0,18590.0,19530.0,19640.0,19890.0,19520.0,19800.0
39,New York,176310.0,180917.0,183826.0,182759.0,180806.0,180351.0,178810.0,179110.0,181550.0,182620.0,186250.0,183100.0
40,North Carolina,83307.0,86712.0,88704.0,89892.0,93977.0,94339.0,96210.0,97020.0,101420.0,103800.0,108230.0,109450.0
41,North Dakota,6999.0,7232.0,7155.0,7156.0,6942.0,6900.0,6960.0,7040.0,7070.0,7140.0,7080.0,7330.0
42,Ohio,120758.0,122203.0,123437.0,124229.0,123135.0,122491.0,119520.0,120940.0,118870.0,120410.0,120010.0,119850.0
43,Oklahoma,37630.0,37219.0,38503.0,37744.0,37305.0,37033.0,37260.0,38420.0,39400.0,40280.0,40810.0,40700.0
44,Oregon,34949.0,35138.0,34671.0,34723.0,34261.0,33899.0,34440.0,34800.0,35240.0,35180.0,35100.0,35090.0
45,Pennsylvania,130298.0,130658.0,131182.0,130284.0,131733.0,129777.0,127200.0,123560.0,122970.0,120030.0,120760.0,119150.0
46,Rhode Island,10347.0,10028.0,9908.0,9724.0,9751.0,9579.0,9730.0,9900.0,10160.0,9250.0,9350.0,9960.0
47,South Carolina,35303.0,39114.0,40438.0,40708.0,41442.0,42246.0,41720.0,42650.0,44190.0,45110.0,46180.0,46340.0
48,South Dakota,8582.0,8123.0,8162.0,8248.0,8196.0,8239.0,7960.0,8140.0,7840.0,8130.0,8180.0,8090.0
49,Tennessee,57486.0,60368.0,62408.0,61862.0,62454.0,61323.0,60970.0,62010.0,62800.0,63470.0,63720.0,63590.0
50,Texas,252121.0,264275.0,280894.0,290470.0,292531.0,301390.0,304360.0,309280.0,320840.0,331390.0,341620.0,348740.0
51,Utah,28167.0,30463.0,31481.0,30888.0,31157.0,33186.0,33400.0,34070.0,35540.0,36780.0,37680.0,38220.0
52,Vermont,7392.0,7209.0,7199.0,6932.0,6859.0,6491.0,6360.0,6240.0,6170.0,6080.0,5810.0,5790.0
53,Virginia,77369.0,79651.0,81511.0,82895.0,83336.0,83279.0,83100.0,82680.0,84580.0,85770.0,88470.0,88100.0
54,Washington,61625.0,62764.0,66046.0,66453.0,65205.0,66066.0,66240.0,68200.0,69990.0,70430.0,70640.0,70930.0
55,West Virginia,17489.0,17690.0,17651.0,17311.0,17603.0,17924.0,17510.0,17460.0,17870.0,17830.0,18140.0,17970.0
56,Wisconsin,65183.0,65410.0,64687.0,64135.0,62705.0,61425.0,60810.0,60460.0,60380.0,61100.0,61230.0,60820.0
57,Wyoming,5494.0,5493.0,5695.0,5600.0,5553.0,5489.0,5590.0,5550.0,5740.0,5750.0,5870.0,5870.0

In [35]:
ed_cleaned.to_csv("resources/education_clean.csv")